In [2]:
import datetime as dt
import pandas_datareader.data as web
import matplotlib.pyplot as plt

In [3]:
from pandas_datareader import data

df = data.DataReader('7203.JP', 'stooq')
df.head()

              Open    High     Low   Close    Volume
Date
2024-05-22  3424.0  3429.0  3385.0  3388.0  19191500
2024-05-21  3467.0  3479.0  3421.0  3437.0  16456200
2024-05-20  3438.0  3478.0  3417.0  3447.0  23715900
2024-05-17  3367.0  3438.0  3353.0  3436.0  22329600
2024-05-16  3405.0  3407.0  3319.0  3352.0  29023000